SIMULATION
  SIMULATION_TYPE SUBSURFACE
  PROCESS_MODELS
    SUBSURFACE_FLOW flow
      MODE TH
    /
  /
END

SUBSURFACE

#=== times ===

  TIME
    FINAL_TIME {{ time_to_simulate }}
    MAXIMUM_TIMESTEP_SIZE 1.0 year
  END

  REFERENCE_PRESSURE 101325. #[Pa]

#=== solver options ===

  NUMERICAL_METHODS FLOW
    NEWTON_SOLVER
      ANALYTICAL_JACOBIAN
      ITOL_UPDATE 1
      RTOL 1.d-8
    /
    LINEAR_SOLVER
      SOLVER ITERATIVE
    /
  END

#=== fluid properties ===

  FLUID_PROPERTY
    DIFFUSION_COEFFICIENT 1.d-9 #[m^2/s]
  END

  DATASET perm
    HDF5_DATASET_NAME Permeability
    FILENAME permeability_field.h5
  END

#=== characteristic curves ===

  CHARACTERISTIC_CURVES cc1
    SATURATION_FUNCTION VAN_GENUCHTEN
      ALPHA  1.d-4
      M 0.5d0
      LIQUID_RESIDUAL_SATURATION 0.1d0
    /
    PERMEABILITY_FUNCTION MUALEM_VG_LIQ
      M 0.5d0
      LIQUID_RESIDUAL_SATURATION 0.1d0
    /
  END

#=== material properties ===

  MATERIAL_PROPERTY gravel
    ID 1
    POROSITY {{ porosity.value }}  #[-]
    ROCK_DENSITY 2.8d3             #[kg/m^3]
    SPECIFIC_HEAT 2.0d3            #[J/(kg*K)]
    THERMAL_CONDUCTIVITY_DRY 0.65  #[W/(K*m)]
    THERMAL_CONDUCTIVITY_WET 1.0   #[W/(K*m)]
    LONGITUDINAL_DISPERSIVITY 1.0  #[m]
    TRANSVERSE_DISPERSIVITY_H 0.1  #[m]
    PERMEABILITY                   #[m^2]
      DATASET perm
      {%- if vertical_anisotropy_ratio is defined %}
      VERTICAL_ANISOTROPY_RATIO {{ vertical_anisotropy_ratio.value }}
      {%- endif %}
    /
    CHARACTERISTIC_CURVES cc1
  END

#=== discretization ===

  GRID
    TYPE UNSTRUCTURED_EXPLICIT ../mesh.uge
    MAX_CELLS_SHARING_A_VERTEX 8
  END

#=== regions ===

  REGION all
    COORDINATES
      -1.d20 -1.d20 -1.d20
      1.d20 1.d20 1.d20
    /
  END

  REGION south
    FILE ../south.ex
  END

  REGION north
    FILE ../north.ex
  END

  REGION west
    FILE ../west.ex
  END

  REGION east
    FILE ../east.ex
  END

#=== flow conditions ===

  FLOW_CONDITION initial
    TYPE
      LIQUID_PRESSURE HYDROSTATIC
      TEMPERATURE DIRICHLET
    /
    DATUM 200 0 85 {#- XXX adjust? #}
    GRADIENT
      {%- set pg = pressure_gradient.value %}
      LIQUID_PRESSURE {{ pg.x }} {{  pg.y }} {{ pg.z }}
    /
    LIQUID_PRESSURE 101325.d0
    TEMPERATURE {{ temperature.value }} C
  /

#=== condition couplers ===

  INITIAL_CONDITION
    FLOW_CONDITION initial
    REGION all
  /

  BOUNDARY_CONDITION
    FLOW_CONDITION initial
    REGION north
  /

  BOUNDARY_CONDITION
    FLOW_CONDITION initial
    REGION south
  /

  BOUNDARY_CONDITION
    FLOW_CONDITION initial
    REGION west
  /

  BOUNDARY_CONDITION
    FLOW_CONDITION initial
    REGION east
  /

#=== stratigraphy couplers ===

  STRATA
    REGION all
    MATERIAL gravel
  END

#=== heat pumps ===

  {% for heatpump in heatpumps -%}
  {% set outer_loop = loop -%}
  {% for key, value in heatpump.items() -%}

  MATERIAL_PROPERTY {{ key }}_material
    ID {{ outer_loop.index + 5 + 1 }} {#- visually separate from gravel #}
    POROSITY {{ porosity.value }}  #[-]
    ROCK_DENSITY 2.8d3             #[kg/m^3]
    SPECIFIC_HEAT 2.0d3            #[J/(kg*K)]
    THERMAL_CONDUCTIVITY_DRY 0.65  #[W/(K*m)]
    THERMAL_CONDUCTIVITY_WET 1.0   #[W/(K*m)]
    LONGITUDINAL_DISPERSIVITY 1.0  #[m]
    TRANSVERSE_DISPERSIVITY_H 0.1  #[m]
    PERMEABILITY                   #[m^2]
      DATASET perm
      {%- if vertical_anisotropy_ratio is defined %}
      VERTICAL_ANISOTROPY_RATIO {{ vertical_anisotropy_ratio.value }}
      {%- endif %}
    /
    CHARACTERISTIC_CURVES cc1
  END

  FLOW_CONDITION {{ key }}_flow_condition
    TYPE
      RATE SCALED_VOLUMETRIC_RATE VOLUME
      TEMPERATURE DIRICHLET
    END

    RATE LIST
      DATA_UNITS m^3/s
      TIME_UNITS {{ value.injection_rate.time_unit }}
      {%- for time_step, time_value in value.injection_rate.values.items() %}
      {{ time_step }}    {{ time_value }}
      {%- endfor %}
    END

    TEMPERATURE LIST
      DATA_UNITS C
      TIME_UNITS {{ value.injection_temp.time_unit }}
      {%- for time_step, time_value in value.injection_temp.values.items() %}
      {{ time_step }}    {{ time_value }}
      {%- endfor %}
    END
  END

  REGION {{ key }}_region
    COORDINATE {{ value.location[0] }} {{ value.location[1] }} {{ value.location[2] }}
  END

  SOURCE_SINK {{ key }}_sink
    FLOW_CONDITION {{ key }}_flow_condition
    REGION {{ key }}_region
  END

  STRATA
    REGION {{ key }}_region
    MATERIAL {{ key }}_material
  END

  {% endfor %}
  {%- endfor %}


#=== output options ===

  OUTPUT
    SNAPSHOT_FILE
      TIMES year 0 0.1 1. 5.
      FORMAT HDF5
      PRINT_COLUMN_IDS
      VARIABLES
        LIQUID_PRESSURE
        TEMPERATURE
        PERMEABILITY
      /
    /
    VELOCITY_AT_CENTER
  /

END_SUBSURFACE
